* {
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
}
.btns {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  cursor: pointer;
  border: 1px solid #8586949d;
  background-color: #e0e0e0;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  width: 25vw;
}

.result {
  padding-right: 2rem;
  display: flex;
  letter-spacing: 2px;
  justify-content: end;
  align-items: center;
  color: whitesmoke;
  font-weight: 600;
  font-size: 5rem;
  background-color: #858694;
  width: 100%;
  height: 20vh;
}
.orange {
  color: white;
  background-color: #f5923e;
}
.large {
  width: 50vw;
}
@media screen and (max-width: 500px) {
  .btn {
    font-size: 2rem;
  }
}
